.ArtPreviewWall {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  .ArtPreviewWall__action {
    text-align: right;
  }
  .ArtPreviewWall__text {
    text-align: center;
  }
}
