artist-palette-screen,
artist-rgb-screen,
artist-cmyk-screen,
artist-hsl-screen,
artist-image-screen,
artist-collections-screen,
artist-image {
  display: block;
  width: 100%;
}

artist-image {
  height: 100%;
}
